account_1:
  consumer_key: 'this_account_consumer_key'
  consumer_secret: 'this_account_consumer_secret'
  access_token: 'this_account_access_token'
  access_token_secret: 'this_account_access_token_secret'
account_2:
  consumer_key: 'this_account_consumer_key'
  consumer_secret: 'this_account_consumer_secret'
  access_token: 'this_account_access_token'
  access_token_secret: 'this_account_access_token_secret'
account_n:
  consumer_key: 'this_account_consumer_key'
  consumer_secret: 'this_account_consumer_secret'
  access_token: 'this_account_access_token'
  access_token_secret: 'this_account_access_token_secret'